@model FA.JustBlog.Core.Models.Posts
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_ActionLayout.cshtml";
}

<form method="post" asp-controller="PostManage" asp-action="Details">
    <input asp-for="@Model.PostId" class="form-control" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h4 class="text-dark">Create</h4>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="@Model.Title"></label>
            <input asp-for="@Model.Title" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ShortDescription"></label>
            <textarea asp-for="@Model.ShortDescription" rows="3" class="form-control" disabled></textarea>
            <span asp-validation-for="@Model.ShortDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.PostContent"></label>
            <textarea asp-for="@Model.PostContent" rows="8" class="form-control" disabled></textarea>
            <span asp-validation-for="@Model.PostContent" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.UrlSlug"></label>
            <input asp-for="@Model.UrlSlug" rows="3" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Published"></label><br />
            @Html.DisplayFor(model => model.Published)

        </div>
        <div class="mb-3">
            <label asp-for="@Model.PostedOn"></label>
            <input type="datetime" asp-for="@Model.PostedOn" rows="3" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Modified"></label>
            <input type="datetime" asp-for="@Model.Modified" rows="3" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ViewCount"></label>
            <input type="number" asp-for="@Model.ViewCount" rows="3" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.RateCount"></label>
            <input  type="number" asp-for="@Model.RateCount" rows="3" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.TotalRate"></label>
            <input type="number" asp-for="@Model.TotalRate" rows="3" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CategoryId"></label>
            <input asp-for="@Model.CategoryId" rows="3" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Rate"></label>
            <input asp-for="@Model.Rate" rows="3" class="form-control" disabled />
        </div>
        <a asp-controller="PostManage" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
            Back to list
        </a>
    </div>
</form>
