@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Core.Repository.UnitOfWork;
@model IEnumerable<Posts>;


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center align-items-start">
        <div class="col-md-10 col-lg-8 col-8">
            <h2 class="post-title">All Posts</h2>
            <hr />
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                            <!-- Post preview-->
                            <div class="post-preview">
                                <a href="Details?id=@item.PostId">
                                    <h2 class="post-title">@item.Title</h2>
                                    <h3 class="post-subtitle">@item.ShortDescription</h3>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    <a href="#!">KienDC4</a>
                                    on @item.PostedOn with rate @item.Rate.ToString("#.##") by @item.ViewCount
                                </p>
                            </div>
                            <!-- Divider-->
                            <hr class="my-4" />
                }
            }

            <!-- Pager-->

           <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation text-center">
                    <ul class="pagination">
                        @if (ViewBag.PageNumber > 1)
                        {
                                <li class="page-item">
                                    <a href="/Post/Index?page=1" class="page-link">&lt&lt</a>
                                </li>
                                @*<li class="page-item">
                                    <a href="@Url.Action("Index", "Post", new { page = ViewBag.PageNumber - 1 })" class="page-link">&ltPrev</a>
                                    <a href="/Post/Index?page=@ViewBag.PageNumber -1" class="page-link">&lt Prev</a>
                                </li>*@
                        }

                        @for (int i = 1; i <= Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize); i++)
                        {
                                <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                                    <a href="/Post/Index?page=@i" class="page-link">@i</a>
                                </li>
                        }

                        @if (ViewBag.PageNumber < Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize))
                        {
                                @*<li class="page-item">
                                    <a href="@Url.Action("Index", "Post",new { page = ViewBag.PageNumber + 1 })" class="page-link">Next ></a>
                                    <a href="/Post/Index?page=@ViewBag.PageNumber + 1" class="page-link">Next ></a>
                                </li>*@
                                <li class="page-item">
                                @*<a href="@Url.Action("Index", "Post",new { page = Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize) })" class="page-link">>></a>*@
                                <a href="/Post/Index?page=@Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize)" class="page-link">>></a>
                                </li>
                        }
                    </ul>
                </nav>
           </div>

            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>

        </div>

        <div class="mb-4 col-4">
            @Html.Partial("_PartialAboutCard")
            <hr />
            <h3 style="display:block; margin: 30px 0 10px 0;">Most View Posts</h3>
            @Html.Partial("_ListPostsForMostView")
            <hr />
            <h3 style="display:block; margin: 30px 0 10px 0;">Lasted Posts</h3>
            @Html.Partial("_ListPostsForLated")
            <hr />
            <h3 style="display:block; margin: 30px 0 10px 0;">Popular Tags</h3>
            @Html.Partial("_PopularTags")
        </div>
    </div>
</div>