@model FA.JustBlog.Core.Models.Comments
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_ActionLayout.cshtml";
}

<form method="post" asp-controller="Comment" asp-action="Details">
	<input asp-for="@Model.CommentId" class="form-control" hidden/>

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h4 class="text-dark">Details</h4>
			<hr />
		</div>
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="@Model.Name"></label>
			<input asp-for="@Model.Name" class="form-control" disabled/>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Email"></label>
			<input asp-for="@Model.Email" rows="3" class="form-control" disabled/>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.PostId"></label>
			<input asp-for="@Model.PostId" rows="3" class="form-control" disabled/>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.CommentHeader"></label>
			<input asp-for="@Model.CommentHeader" rows="3" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.CommentText"></label>
			<input asp-for="@Model.CommentText" rows="3" class="form-control" disabled />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.CommentTime"></label>
			<input asp-for="@Model.CommentTime" rows="3" class="form-control" disabled />
		</div>
		<a asp-controller="Comment" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
			Back to list
		</a>
	</div>
</form>
